<?xml version="1.0" encoding="UTF-8"?>

<app name="org.onosproject.ovsdb" origin="ON.Lab" version="${project.version}"
     featuresRepo="mvn:${project.groupId}/${project.artifactId}/${project.version}/xml/features"
     features="${project.artifactId}">
    <description>${project.description}</description>

    <artifact>mvn:${project.groupId}/onosx-protocols-ovsdb-rfc/${project.version}</artifact>
    <artifact>mvn:${project.groupId}/onosx-protocols-ovsdb-api/${project.version}</artifact>
    <artifact>mvn:${project.groupId}/onosx-protocols-ovsdb-ctl/${project.version}</artifact>
    <artifact>mvn:${project.groupId}/onosx-drivers/${project.version}</artifact>

    <artifact>mvn:${project.groupId}/onosx-providers-ovsdb-device/${project.version}</artifact>
    <artifact>mvn:${project.groupId}/onosx-providers-ovsdb-host/${project.version}</artifact>
    <artifact>mvn:${project.groupId}/onosx-providers-ovsdb-tunnel/${project.version}</artifact>
</app>
