[submodule "resources/coredns"]
	path = resources/coredns
	url = https://github.com/coredns/coredns.git
[submodule "resources/odl/controller"]
	path = resources/odl/controller
	url = https://github.com/opendaylight/controller.git
[submodule "resources/trfficcontrol"]
	path = resources/trfficcontrol
	url = https://github.com/apache/trafficcontrol.git
[submodule "resources/jmqtt"]
	path = resources/jmqtt
	url = https://github.com/Cicizz/jmqtt.git
[submodule "resources/vertx-mqtt-broker"]
	path = resources/vertx-mqtt-broker
	url = https://github.com/GruppoFilippetti/vertx-mqtt-broker.git
[submodule "resources/emitter"]
	path = resources/emitter
	url = https://github.com/emitter-io/emitter.git
[submodule "resources/odl/odlparent"]
	path = resources/odl/odlparent
	url = https://github.com/opendaylight/odlparent.git
[submodule "resources/openvswitch"]
	path = resources/openvswitch
	url = https://github.com/openvswitch/ovs.git
[submodule "resources/floodlight"]
	path = resources/floodlight
	url = https://github.com/floodlight/floodlight.git
[submodule "resources/floodlight-webui"]
	path = resources/floodlight-webui
	url = https://github.com/floodlight/floodlight-webui.git
