[submodule "resources/coredns"]
	path = resources/coredns
	url = https://github.com/coredns/coredns.git
[submodule "resources/odl/controller"]
	path = resources/odl/controller
	url = https://github.com/opendaylight/controller.git
[submodule "resources/trfficcontrol"]
	path = resources/trafficcontrol
	url = https://github.com/apache/trafficcontrol.git
[submodule "resources/jmqtt"]
	path = resources/jmqtt
	url = https://github.com/Cicizz/jmqtt.git
[submodule "resources/vertx-mqtt-broker"]
	path = resources/vertx-mqtt-broker
	url = https://github.com/GruppoFilippetti/vertx-mqtt-broker.git
[submodule "resources/emitter"]
	path = resources/emitter
	url = https://github.com/emitter-io/emitter.git
[submodule "resources/odl/odlparent"]
	path = resources/odl/odlparent
	url = https://github.com/opendaylight/odlparent.git
[submodule "resources/openvswitch"]
	path = resources/openvswitch
	url = https://github.com/openvswitch/ovs.git
[submodule "resources/floodlight"]
	path = resources/floodlight
	url = https://github.com/floodlight/floodlight.git
[submodule "resources/floodlight-webui"]
	path = resources/floodlight-webui
	url = https://github.com/floodlight/floodlight-webui.git
[submodule "resources/sdn-pox"]
	path = resources/sdn-pox
	url = https://github.com/noxrepo/pox.git
[submodule "resources/sdn-ryu"]
	path = resources/sdn-ryu
	url = https://github.com/faucetsdn/ryu.git
[submodule "resources/sdn-faucet"]
	path = resources/sdn-faucet
	url = https://github.com/faucetsdn/faucet.git
[submodule "resources/sdn-onos"]
	path = resources/sdn-onos
	url = https://github.com/opennetworkinglab/onos.git
[submodule "resources/mininet"]
	path = resources/mininet
	url = https://github.com/mininet/mininet.git
[submodule "resources/openvirtex"]
	path = resources/openvirtex
	url = https://github.com/os-libera/OpenVirteX.git
[submodule "resources/openstack-neutron"]
	path = resources/openstack-neutron
	url = https://github.com/openstack/neutron.git
[submodule "resources/OnosSystemTest"]
	path = resources/OnosSystemTest
	url = https://gerrit.onosproject.org/OnosSystemTest
[submodule "resources/sdn-onos-maven"]
	path = resources/sdn-onos-maven
	url = https://github.com/opennetworkinglab/onos.git
[submodule "resources/u-onos/onos-config"]
	path = resources/u-onos/onos-config
	url = https://github.com/onosproject/onos-config.git
[submodule "resources/u-onos/onos-control"]
	path = resources/u-onos/onos-control
	url = https://github.com/onosproject/onos-control.git
[submodule "resources/uonos-topo"]
	path = resources/uonos-topo
	url = https://github.com/onosproject/onos-topo.git
[submodule "resources/u-onos/onos-gui"]
	path = resources/u-onos/onos-gui
	url = https://github.com/onosproject/onos-gui.git
[submodule "resources/u-onos/onos-cli"]
	path = resources/u-onos/onos-cli
	url = https://github.com/onosproject/onos-cli.git
[submodule "resources/uonos/onos-helm-charts"]
	path = resources/u-onos/onos-helm-charts
	url = https://github.com/onosproject/onos-helm-charts.git
[submodule "resources/openconfig/gnmi"]
	path = resources/openconfig/gnmi
	url = https://github.com/openconfig/gnmi.git
[submodule "resources/openconfig/ygot"]
	path = resources/openconfig/ygot
	url = https://github.com/openconfig/ygot.git
[submodule "resources/book-systemapproach-sdn"]
	path = resources/book-system-approach-sdn
	url = https://github.com/SystemsApproach/sdn.git
[submodule "resources/google-gnxi"]
	path = resources/openconfig/google-gnxi
	url = https://github.com/google/gnxi.git
[submodule "resources/openconfig/gnoi"]
	path = resources/openconfig/gnoi
	url = https://github.com/openconfig/gnoi.git
[submodule "resources/book-system-approach-5g"]
	path = resources/book-system-approach-5g
	url = https://github.com/SystemsApproach/5G.git
[submodule "resources/book-system-aproach-sdn-cn"]
	path = resources/book-system-aproach-sdn-cn
	url = https://github.com/SystemsApproach/sdn-cn.git
